<table class="table bordered">
  <tbody>
  <tr>
    <th colspan="10">교양</th>
  </tr>
  <tr>
    <th>학년</th>
    <th>구분</th>
    <th>교과목명</th>
    <th>학점</th>
    <th>이수학점</th>
    <th>이수현황</th>
  </tr>
  </tbody>
  <tbody *ngFor="let semester of generals let i = index">
  <tr>
    <th [attr.rowspan]="semester.first.required.length + 1">{{i + 1}}-1</th>
    <th [attr.rowspan]="semester.first.required.length + 1">교필</th>
  </tr>
  <tr *ngFor="let subject of semester.first.required">
    <td>{{subject.name}}</td>
    <td class="text-center">{{subject.credit}}</td>
    <td class="text-center">{{subject.is_complete ? subject.credit : ''}}</td>
    <td class="text-center"><input type="checkbox" [checked]="subject.is_complete" (change)="subject.is_complete = !subject.is_complete"></td>
  </tr>

  <tr>
    <th [attr.rowspan]="semester.second.required.length + 1">{{i + 1}}-2</th>
    <th [attr.rowspan]="semester.second.required.length + 1">교필</th>
  </tr>
  <tr *ngFor="let subject of semester.second.required">
    <td>{{subject.name}}</td>
    <td class="text-center">{{subject.credit}}</td>
    <td class="text-center">{{subject.is_complete ? subject.credit : ''}}</td>
    <td class="text-center"><input type="checkbox" [checked]="subject.is_complete" (change)="subject.is_complete = !subject.is_complete"></td>
  </tr>
  </tbody>
</table>
