<table class="table bordered">
  <tr>
    <th>구분</th>
    <th>공학인증기준</th>
    <th>공학인증기준(설계)</th>
  </tr>
  <tr>
    <th>교양(필수)</th>
    <td><input type="text" class="form-control" [formControl]="this.total.general"></td>
    <td></td>
  </tr>
  <tr>
    <th>BSM(필수)</th>
    <td><input type="text" class="form-control" [formControl]="this.total.bsm"></td>
    <td></td>
  </tr>
  <tr>
    <th>전공(필수 + 선택)</th>
    <td><input type="text" class="form-control" [formControl]="this.total.major.normal"></td>
    <td><input type="text" class="form-control" [formControl]="this.total.major.design"></td>
  </tr>
  <tr>
    <th>총합</th>
    <td colspan="2"></td>
  </tr>
</table>
