.container {
  flex-direction: row;
}

.left {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-right: .5em;
}

.right {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-left: .5em;
}
