.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 16px;
}
.sub-title {
  font-size: 1.2em;
  margin: 12px 0;
}
.contents {
  margin: 24px 0;
  .content {
    margin: 6px 0;
  }
}

.btn, i {
  cursor: default;
}
