<div class="container">
  <div class="panel">
    <p class="title">How 'Much' Remain My Credit 은...</p>
    <p class="sub-title"><b>How 'Much' Remain My Credit(이하 HMRMC)</b>은 대학생활에서 <b>수없이 많은</b> 학점을 한눈에 관리하기 위한 웹 어플리케이션입니다.</p>
    <div class="contents">
      <p class="content">휴학생 개발자 A는 복학하면 4학년입니다. 졸업 요건까지 학점이 얼마나 남았는지 확인 하기 위해 엑셀을 켜고 이수한 수없이 많은 과목의 학점을 일일히 엑셀에 기록하고, 계산했습니다.</p>
      <p class="content">그런데 어느 날 커리큘럼이 바뀌어서 또 일일히 바뀐 커리큘럼에 맞춰 엑셀을 일일히 또 수정했습니다.</p>
      <p class="content">개발자 A는 1학년 때부터 지도 교수 상담을 할 때마다 어떤 과목을 수강했는지를 수강목록에서 찾아 한글 양식에 맞춰 일일히 입력하는 것이 귀찮았고 마음에 들지 않았습니다.</p>
      <p class="content">개발자 A는 최소한 <b>한 곳에서 한 번에 한 눈에</b> 내가 수강한 학점이 몇 학점인지 볼 수 있으면 좋겠다는 생각을 했습니다.</p>
      <p class="content">내가 불편하면 남도 불편하다는 걸 알고 있는 개발자 A는 HMRMC를 개발하기로 했습니다.</p>
    </div>
  </div>
</div>
