<div class="container">
  <div class="panel">
    <p class="title">How 'Much' Remain My Credit 은...</p>
    <p class="sub-title"><b>How 'Much' Remain My Credit(이하 HMRMC)</b>은 대학생활에서 <b>수없이 많은</b> 학점을 한눈에 관리하기 위한 웹 어플리케이션입니다.</p>
    <div class="contents">
      <p class="content">휴학생 개발자 A는 복학하면 4학년입니다. 졸업 요건까지 학점이 얼마나 남았는지 확인 하기 위해 엑셀을 켜고 이수한 수없이 많은 과목의 학점을 일일히 엑셀에 기록하고, 계산했습니다.</p>
      <p class="content">그런데 어느 날 커리큘럼이 바뀌어서 또 일일히 바뀐 커리큘럼에 맞춰 엑셀을 일일히 또 수정했습니다.</p>
      <p class="content">개발자 A는 1학년 때부터 지도 교수 상담을 할 때마다 어떤 과목을 수강했는지를 수강목록에서 찾아 한글 양식에 맞춰 일일히 입력하는 것이 귀찮았고 마음에 들지 않았습니다.</p>
      <p class="content">개발자 A는 최소한 <b>한 곳에서 한 번에 한 눈에</b> 내가 수강한 학점이 몇 학점인지 볼 수 있으면 좋겠다는 생각을 했습니다.</p>
      <p class="content">내가 불편하면 남도 불편하다는 걸 알고 있는 개발자 A는 HMRMC를 개발하기로 했습니다.</p>
    </div>
    <div class="contents">
      <p class="content">본 어플리케이션은 1920*1080에 최적화 되어있으며, 반응형 웹 디자인을 <b>거의</b> 고려하지 않은 채 작성 되었습니다. 따라서, 핸드폰 혹은 패드를 이용해 본 어플리케이션 이용시 가로모드를 권장합니다.</p>
      <p class="content">본 어플리케이션은 크롬에서 테스트되었으며, 타 브라우저에서 정상적인 작동이 되지 않을 시 크롬을 이용해주시길 바랍니다.</p>
      <p class="content">크롬에서도 정상적인 동작을 하지 않는다면, <a href="https://github.com/grapgrap/HMRMC/issues">이슈게시판</a>을 이용해 어떻게 오류가 발생했는지 알려주시길 바랍니다.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel">
    <p class="title">How 'Much' Remain My Credit 사용법</p>
    <p class="sub-title"><b>특이 사항</b></p>
    <div class="contents">
      <p class="content">본 페이지는 데이터베이스를 일절 사용하지 않습니다.</p>
      <p class="content">개인 정보는 커리큘럼 페이지에서 만들 수 있는 hmrmc_curriculum.json과 메인 페이지에서 만들 수 있는 hmrmc_personal.json이 페이지의 데이터베이스를 대신 합니다.</p>
      <p class="content">개인 정보가 일절 페이지에 저장되지 않기 때문에 앞서 언급한 파일들을 임의 수정, 분실 하게 되면 해당 서비스를 이용하는데 어려움이 있습니다.</p>
      <p class="content">본 페이지는 <a href="https://github.io">Github</a>에서 호스팅 중입니다. 문제가 발생할 수 있는 파일을 업로드 할 경우 책임은 업로드 한 본인에게 있습니다.</p>
    </div>
    <p class="sub-title"><b>메인 페이지</b></p>
    <div class="contents">
      <p class="content">메인 페이지는 커리큘럼 파일에 저장된 커리큘럼 정보를 이용해 현재까지 어떤 과목을 수강했는지, 어떤 과목을 수강해야하는지 기록할 수 있는 페이지입니다.</p>
      <p class="content">상단의 <label class="btn primary">SAVE</label>, <label class="btn accent">LOAD</label> 버튼을 이용해 현재까지의 기록을 저장 및 불러오기를 할 수 있습니다.</p>
      <p class="content">수정한 내용은 <label class="btn primary">SAVE</label> 버튼을 눌러 다운로드를 받아야 합니다.</p>
      <p class="content">저장은 개인 파일인 hmrmc_personal.json으로 저장되며, 불러오기는 개인 파일과 커리큘럼 파일 두가지 모두 할 수 있습니다.</p>
      <p class="content">불러온 정보는 자동으로 표에 채워집니다.</p>
      <p class="content">이수현황에 체크를 하게 되면 왼쪽 상단 대시보드에 자동으로 이수 점수가 계산되어 보여집니다.</p>
      <p class="content">커리큘럼에 기재되지 않은 현장실습, 필수가 아닌 교양 등은 직접 계산해서 일반 교과목에 집어넣습니다.</p>
    </div>
    <p class="sub-title"><b>커리큘럼 페이지</b></p>
    <div class="contents">
      <p class="content">커리큘럼 페이지는 커리큘럼에 맞게 본인이 가지고 있는 개인 파일이나 커리큘럼 파일을 수정할 수 있는 페이지 입니다.</p>
      <p class="content">상단의 <label class="btn primary">SAVE</label>, <label class="btn accent">LOAD</label> 버튼을 이용해 현재까지의 기록을 저장 및 불러오기를 할 수 있습니다.</p>
      <p class="content">수정한 내용은 <label class="btn primary">SAVE</label> 버튼을 눌러 다운로드를 받아야 합니다.</p>
      <p class="content">저장은 커리큘럼 파일인 hmrmc_curriculum.json에 저장되며, 불러오기는 개인 파일과 커리큘럼 파일 두가지 모두 할 수 있습니다.</p>
      <p class="content">불러온 정보는 자동으로 표에 채워집니다.</p>
      <p class="content">각 표 구분 항목에 마우스를 올리면 나타나는 <i class="material-icons">add_box</i>을 클릭하면 해당 항목에 교과목을 추가할 수 있습니다.</p>
      <p class="content">각 표 마지막 항목에 위치한 <i class="material-icons">delete</i>을 클릭하면 해당 항목이 삭제됩니다.</p>
      <p class="content">불러온 교과목은 수정할 수 없으며 수정을 원하면 삭제 후 새로운 교과목을 추가해야합니다. 이 때 저장된 이수 현황 정보는 삭제됩니다.</p>
    </div>
  </div>
</div>
