<div fxLayout="column" fxLayoutGap="1em" class="container">
  <app-file-control-bar [data]="data" [additionalSubjects]="additionalSubjects" (dataChange)="data"></app-file-control-bar>
  <div fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutGap="1em" class="viewer">
    <div fxFlex="1 1" fxLayout="column" fxLayoutGap="1em">
      <app-bsm [bsms]="data.bsms" [additionalSubjects]="additionalSubjects.bsms"></app-bsm>
      <app-general [generals]="data.generals" [additionalSubjects]="additionalSubjects.generals"></app-general>
    </div>
    <div fxFlex="1 1">
      <app-major [majors]="data.majors" [additionalSubjects]="additionalSubjects.majors"></app-major>
    </div>
  </div>
</div>
