// pallet
$light: #F9ED69;
$primary: #F08A5D;
$dark: #B83B5E;
$secondary: #6A2C70;
$background: #F2F2F2;

html, body, app-root {
  font-size: 16px;
  background-color: $background;
}

.text-center {
  text-align: center;
}

.material-icons {
  cursor: pointer;
}

.navbar {
  background-color: $light;
  padding: 0 1rem;
  box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.2);
  .brand, .menu {
    margin: 0;
    padding: 1rem .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }
  .menu {
    &:hover {
      color: $primary;
    }
    &.active {
      color: $primary;
    }
  }
}

.container {
  padding: 1rem;
}

.panel {
  background-color: #FFFFFF;
  padding: .5rem;
  box-shadow: 6px 6px 4px -4px rgba(0, 0, 0, .2), 0 0 2px rgba(0,0,0,.24);
}

[routerLink] {
  cursor: pointer;
}

.table.bordered {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 6px 6px 4px -4px rgba(0, 0, 0, .2), 0 0 2px rgba(0,0,0,.24);
  th, td {
    padding: .5rem;
    border: 1px solid #D9D9D9;
  }
}

.btn {
  display: inline-block;
  padding: .5em 1rem;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #FFFFFF;
  user-select: none;
  cursor: pointer;
  &.primary {
    background-color: $primary;
  }
  &.accent {
    background-color: $secondary;
  }
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  border-width: 0 0 2px 0;
  border-color: #C3C3C3;
  outline: none;
}
