<table class="table bordered">
  <tbody>
  <tr>
    <th colspan="10">교양</th>
  </tr>
  <tr>
    <th>학년</th>
    <th>구분</th>
    <th>교과목명</th>
    <th>학점</th>
  </tr>
  </tbody>
  <tbody *ngFor="let semester of generals let i = index">
  <!--1학기-->
  <!--BMS 필수-->
  <tr >
    <th [attr.rowspan]="
    (semester.first.required.length + additionalSubjects[i].first.required.length === 0 ? 1 : semester.first.required.length + additionalSubjects[i].first.required.length) + 1">{{i + 1}}-1</th>
    <th fxLayout="row" class="add-btn-container" [attr.rowspan]="semester.first.required.length + additionalSubjects[i].first.required.length + 1"><p>교필</p> <i class="material-icons" (click)="addSubject(i, 'first', 'required')">add_box</i></th>
  </tr>
  <tr *ngFor="let subject of semester.first.required let j = index">
    <td>{{subject.name}}</td>
    <td class="text-center">{{subject.credit}}</td>
    <td class="text-center"><i class="material-icons" (click)="deleteSubject(i, j, 'first', 'required', false)">delete</i></td>
  </tr>
  <tr *ngIf="semester.first.required.length + additionalSubjects[i].first.required.length === 0"></tr>
  <tr *ngFor="let form of additionalSubjects[i].first.required let j = index" class="new-item-form">
    <td><input class="form-control" type="text" [formControl]="form.get('name')"></td>
    <td><input class="form-control" type="text" [formControl]="form.get('credit')"></td>
    <td class="text-center"><i class="material-icons" (click)="deleteSubject(i, j, 'first', 'required', true)">delete</i></td>
  </tr>

  <!--2학기-->
  <!--BMS 필수-->
  <tr>
    <th [attr.rowspan]="
    (semester.second.required.length + additionalSubjects[i].second.required.length === 0 ? 1 : semester.second.required.length + additionalSubjects[i].second.required.length) + 1">{{i + 1}}-2</th>
    <th fxLayout="row" class="add-btn-container" [attr.rowspan]="semester.second.required.length + additionalSubjects[i].second.required.length + 1"><p>교필</p> <i class="material-icons" (click)="addSubject(i, 'second', 'required')">add_box</i></th>
  </tr>
  <tr *ngFor="let subject of semester.second.required let j = index">
    <td>{{subject.name}}</td>
    <td class="text-center">{{subject.credit}}</td>
    <td class="text-center"><i class="material-icons" (click)="deleteSubject(i, j, 'second', 'required', false)">delete</i></td>
  </tr>
  <tr *ngIf="semester.second.required.length + additionalSubjects[i].second.required.length === 0"></tr>
  <tr *ngFor="let form of additionalSubjects[i].second.required let j = index" class="new-item-form">
    <td><input class="form-control" type="text" [formControl]="form.get('name')"></td>
    <td><input class="form-control" type="text" [formControl]="form.get('credit')"></td>
    <td class="text-center"><i class="material-icons" (click)="deleteSubject(i, j, 'second', 'required', true)">delete</i></td>
  </tr>
  </tbody>
</table>
